<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chính sách quyền riêng tư</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>
   <div class="container">
       <h2 style="font-weight: bolder; margin-top: 50px;">Chính sách quyền riêng tư của webhook leanhduc-chatbot</h2>
       <ul style="margin-top: 50px; margin-bottom: 50px; list-style: decimal;">
           <li><a href="#s1">Giới thiệu</a></li>
           <li><a href="#s2">Định nghĩa thông tin cá nhân</a></li>
           <li><a href="#s3">Dữ liệu chúng tôi sẽ thu thập của bạn</a></li>
           <li><a href="#s4">Mục đích và giới hạn sử dụng thông tin cá nhân</a></li>
           <li><a href="#s5">Quy tắc không tiết lộ thông tin cá nhân cho bên thứ ba và tuyên bố miễn trừ trách nhiệm</a></li>
           <li><a href="#s6">Liên hệ với tôi</a></li>
       </ul>
       <div class="row">
        <h2 id = "s1">1. Giới thiệu</h2>
        <p>Cảm ơn bạn vì đã đọc chính sách quyền riêng tư của tôi. Tôi là Lê Anh Đức, là 1 sinh viên ngành Công nghệ thông tin
            của trường Đại học Giao Thông Vận Tải. Tôi viết bot chat này chỉ nhằm mục đích học tập và chia sẻ các thông tin hữu ích
            dành cho những người sử dụng bot chat của tôi. Tôi muốn giải thích về cách thức tôi sử dụng dữ liệu cá nhân của các bạn.
            Chính Sách Quyền Riêng Tư này (“Chính Sách”) sẽ giải thích chính xác ý định của tôi một cách chi tiết như được nêu dưới đây.
        </p>
        <br>
        <h2 id = "s2">2. Định nghĩa thông tin cá nhân</h2>
        <p>
            Thông tin cá nhân là bất cứ thông tin nào mà bạn cung cấp cho bot chat của tôi, ví dụ như id user facebook, 
            giới tính, sinh nhật,... Là những thông tin mà tôi có thể truy vấn được khi bạn bắt đầu nhắn tin với bot chat của tôi. 
            Thông tin cá nhân mà chúng tôi thu thập chỉ là những thông tin đã được bạn công khai trên trang cá nhân, hoặc có thể
             truy vấn được thông qua Messenger Facebook API hay rộng hơn là Graph API. Bạn hoàn toàn có quyền quyết định có cung cấp 
             những thông tin đó cho tôi (chúng tôi) hay không.
        </p>
        <br>
        <h2 id="s3">3. Dữ liệu (chúng) tôi thu thập của bạn</h2>
        <p>
            Tất cả dữ liệu (chúng) tôi thu thập của bạn chỉ là những thông tin cơ bản mà bạn đã public và cho phép (chúng) tôi thu thập. 
            Ngoài ra (chúng) tôi không thu thập bất kỳ thông tin nào khác. Tôi chỉ thu thập để chia sẻ các thông tin hữu ích 1 cách miễn phí
             cho những ai sử dụng bot chat hoặc các trang web của tôi.
        </p>
        <br>
        <h2 id = "s4">4. Mục đích và giới hạn sử dụng thông tin cá nhân</h2>
        <p>
            Tôi không sử dụng bất kỳ thông tin cá nhân nào của các bạn vào mục đích thương mại. Như đã nói ở trên, tôi chỉ là 1 sinh viên,
             viết bot chat này để học tập và chia sẻ kiến thức. Dữ liệu của bạn chỉ giúp bot chat tương tác với bạn hiệu quả và thông minh hơn.
        </p>
        <br>
        <h2 id="s5">5. Quy tắc không tiết lộ thông tin cá nhân cho bên thứ ba và tuyên bố miễn trừ trách nhiệm</h2>
        <p>
            Tôi (chúng tôi) cam kết KHÔNG chia sẻ thông tin cá nhân của bạn cho bên thứ 3. Tôi (chúng tôi) cũng không chịu trách nhiệm theo bất kỳ cách nào đối với việc thu thập thông tin cá nhân tại các trang web do các công ty khác vận hành được giới thiệu trên trang web của chúng tôi. 
        </p>
        <br>
        <h2 id = "s6">6. Liên hệ với tôi</h2>
        <p>
            Bạn có thể liên hệ với tôi thông qua các email sau: leanhduc9999@gmail.com, duc171201239@st.utc.edu.vn. Cảm ơn bạn đã đọc hết chính sách quyền riêng tư của tôi!
        </p>
       </div>
   </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>